{% extends 'components/base.html' %}

{% block content%}


<div style="min-height: 100vh;">


    <div class="container">

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Sl. No .</th>
                    <th scope="col"> Date </th>
                    <th scope="col">Boundary</th>
                    <th scope="col">Precient</th>
                    <th scope="col">Plot</th>
                    <th scope="col">Excel</th>
                </tr>
            </thead>
            {% for i in plans %}
            <tbody>
                <tr>
                    <th scope="row">{{i.id}}</th>
                    <td>{{i.created_at}}</td>
                    <td><a href="{{i.boundary.url}}"  download="{{i.boundary.url}}" class="btn btn-outline-primary" target="_blank">Download</a></td>
                    <td><a href="{{i.precient.url}}"  download="{{i.precient.url}}" class="btn btn-outline-primary" target="_blank">Download</a></td>
                    <td><a href="{{i.plot.url}}"  download="{{i.plot.url}}" class="btn btn-outline-primary" target="_blank">Download</a></td>
                    <td><a href="{{i.excel.url}}"  download="{{i.excel.url}}" class="btn btn-outline-primary" target="_blank">Download</a></td>
                    
                </tr>
            </tbody>
            {% endfor %}
        </table>

    </div>




</div>


{% endblock %}