{% extends 'components/base.html' %}

{% block content%}

<style>
    @import url("https://fonts.googleapis.com/css2?family=Caudex&display=swap");

    * {
        font-family: "Caudex", serif;
    }

    #blog {
        padding: 5rem 2rem;
    }

    #blog .blog-box {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        width: 100%;
        position: relative;
        padding-bottom: 6rem;
    }

    #blog .blog-box .blog-image {
        width: 50%;
    }

    #blog .blog-box .blog-image img {
        width: 100%;
        -o-object-fit: cover;
        object-fit: cover;
    }

    #blog .blog-details {
        width: 50%;
        padding: 0 1rem;
    }


    @media screen and (max-width: 992px) {
        #blog .blog-box {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
        }

        #blog .blog-box .blog-image {
            width: 100%;
            padding: 0;
        }

        #blog .blog-details {
            width: 100%;
            padding: 0;
        }
    }
</style>


<section id="blog">
    {% for i in plans %}
    <div class="blog-box">
        <div class="blog-image">
            <img src="/{{i.image}}" alt="Blog" style="height: 300px;">
        </div>
        <div class="blog-details">
            <h4>{{i.name}} {{i.id}}</h4>
            <a href="#">Approved Date: {{i.approved_date}}</a>
            <br />
            <a href="#">Implementation Period: {{i.period_from}} -  {{i.period_till}}</a>
            <p>{{i.description | safe}}</p>
            <a href="{{i.report.url}}" download="{{i.report.url}}" class="btn btn-outline-primary"
                target="_blank">Download Report</a>
            <a href="{{i.dcr.url}}" download="{{i.dcr.url}}" class="btn btn-outline-success" target="_blank">Download
                DCR</a>
            <a href="{% url 'plan_history' i.id %}" class="btn btn-outline-primary">View Histroy</a>
            <a href="{% url 'plan' i.id %}" class="btn btn-outline-success">View Spatailly</a>
        </div>
        
    </div>
    {% endfor %}
</section>



{% endblock %}